# Downloaded data
Data/cdaweb/*
Data/generation_data/*
Data/testing_data/*
Data/training_data/*
Data/themis_data/*
Helper/cdaweb/*
Helper/omni_data/*
Training/cdaweb/*
Training/generation_data/*
Training/omni_data/*
Training/models/*

# Leftovers (to be removed)
Data/themis_data
